
body, html {
    margin: 0;
}

a {
    text-decoration: none;    
}

    a.purple {
        color: #3e69dc;
    }

    a.grey {
        color: #6d6d6d;
        text-decoration:underline;
    }

.container {
    font-family: Montserrat, sans-serif;
    text-align: center;
}

#navbar_container {
    font-family: Montserrat, sans-serif;
    font-size: 2.8vw;
    transform:translateY(-20%);
    width:60%;
    overflow:hidden;
}

.navbar {
    list-style-type: none;
}

    .navbar li {
        float: left;
        padding: 0 10% 0 0;
    }

#top_banner {
    overflow: hidden;
    margin-bottom: 2%;
}

#logo {
    width: 38vw;
    float: left;
}

#logo_subtitle {
    font-family: Montserrat, sans-serif;
    color:#6d6d6d;
    float:left;
    margin-left:1%;
    margin-top:1%;
    font-size:5.8vw;
    overflow:hidden;
}

.text_banner {
    width: 100%;
    font-size: 1.7vw;
    font-family: Montserrat, sans-serif;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upper_container {
    background-color:#f2f2f2;
    border-radius: 40px 40px 0 0;
    height: 15vw;
    overflow: hidden;
}

.lower_container {
    background-color: #f2f2f2;
    border-radius: 0 0 40px 40px;
    height: 15vw;
    overflow: hidden;
}

.image_banner {
    background-image: url("../website_banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 23vw;
    text-align: center;
    overflow: hidden;
}

.image_banner_title {
    font-family: Montserrat, sans-serif;
    margin-top: 7%;
    font-size: 8vw;
    color: white;
}

    .image_banner_title.black {
        color: black;
    }

.image_banner:hover {
    opacity:0.8;
}

.image_banner_2 {
    background-image: url("../website_banner_2.png");
}

.image_banner_3 {
    background-image: url("../website_banner_3.png");
}

#bottom_panel {
    margin-top: 2%;
    height: 12vw;
}

.fab {
    margin:1%;
}